//
   Created by yanhong on 2016-10-08.

html
    head
        title= student.firstName
    body
        h1=student.firstName
        h2=student.lastName
        p Email: #{student.email}
        p Age: #{student.age}